<!DOCTYPE html>
<html>
	<head>
		<title>Datos Disponibles</title>
		<link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap.css')}}">
  		<script src="{{url_for('static', filename = 'js/popper.js')}}"></script>
  		<script src="{{url_for('static', filename = 'js/jquery.js')}}"></script>
  		<script src="{{url_for('static', filename = 'js/bootstrap.js')}}"></script>
  		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
	</head>
	<!--- Sidebar ---->
	<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #48FAC8 ;">
	<a class="navbar-brand">Aplicacion Flask</a>
		<div cclass="collapse navbar-collapse" id="navbarText">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="{{ url_for('index')}}">Inicio <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{{ url_for('datos')}}">Datos obtenidos</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{{ url_for('simulacion')}}">Simulador</a>
		      </li>
		    </ul>
		</div>
	</nav>
	<body>
			<!--- Sidebar --->
			<div class="container-fluid" > 
				<div class="row">
				    <nav  d="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
				      <div class="sidebar-sticky pt-3">
				        <ul class="nav flex-column" id="sidebar">
					          <li class="nav-item">
					            <a class="nav-link " style="background-color: #FA5D2F ;color: white">
					              <span data-feather="home"></span>
					             	Graficos Disponibles <span class="sr-only">(current)</span>
					            </a>
					          </li>
		          		 		{% for i in col %}
						          <li class="sel nav-item">
						            <a class="nav-link" id="{{i}}" style="color : black">
						              {{i.upper()}}
						            </a>
						          </li>									
								{% endfor %}

				      	</ul>
				      </div>
				    </nav>
					<!--- Page Content --->
				    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4" >
				      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
					        <h1 class="h2" id="name" >Datos Disponibles</h1>
				      </div>
				      <div class="col-10">
				      	<table class="table" >
							  <thead class="thead-dark">
							    <tr>
							      <th scope="col">#</th>
							      <th scope="col">Tiempo</th>
							      <th scope="col">Datos</th>
							    </tr>
							  </thead>
							  <tbody id="fil">
							  	

							  </tbody>
							</table>
				      </div>


<script type="text/javascript">
	
	$('#sidebar').each(function(){
		$(this).find('.sel').each(function() {
			$(this).click(function(){
				var name = $(this).find('a').attr("id");

				var nombre = 'Datos Disponibles de  ' + name;
				
				$("#name").text(nombre)


				$("#fill").html(function(){
					return ""
				})


				$.ajax({
					url: '/getdata',
					data: {'name':name},
					type: 'POST',
					success: function(response){
						var datax = JSON.parse(response)
						
						console.log(datax.data.time.length)

						html = ""

						for (i=0;i < datax.data.time.length;i++) {


							time = datax.data.time[i]
							valor = datax.data.valor[i]
							ind = i +1

							html = html + "<tr>" 
							html = html + "<th scope='row'>"+ ind +'</th>'
							html = html + "<th>"+ time +'</th>'
							html = html + "<th>"+ valor +'</th>' 
							html = html + "</tr>"

							$("#fil").html(function(){
								return html
							})

						}


					},
					error: function(error){
						console.log(error);
					}
				});
               

			});
		});
	});


</script>

				    </main>
				</div>
			</div>

	</body>


</html>