<!DOCTYPE html>
<html>
	<head>
		<title>Simulacion</title>
		<link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap.css')}}">
  		<script src="{{url_for('static', filename = 'js/popper.js')}}"></script>
  		<script src="{{url_for('static', filename = 'js/jquery.js')}}"></script>
  		<script src="{{url_for('static', filename = 'js/bootstrap.js')}}"></script>
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
		<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
		<script src="https://npmcdn.com/leaflet-geometryutil"></script>
	</head>

<style type="text/css">
	
	#map{height: 500px;}

</style>
	<!--- Sidebar ---->
	<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #48FAC8 ;">
	<a class="navbar-brand">Aplicacion Flask</a>
		<div cclass="collapse navbar-collapse" id="navbarText">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="{{ url_for('index')}}">Inicio <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{{ url_for('datos')}}">Datos obtenidos</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{{ url_for('simulacion')}}">Simulador</a>
		      </li>
		    </ul>
		</div>
	</nav>
	<body>
			<!--- Sidebar --->
			<div class="container-fluid" > 
				<div class="row">
				    <nav  d="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
				      <div class="sidebar-sticky pt-3">
				        <ul class="nav flex-column" id="sidebar">
					          <li class="nav-item">
					            <a class="nav-link " style="background-color: #FA5D2F ;color: white">
					              <span data-feather="home"></span>
					             	Datos Simulacion <span class="sr-only">(current)</span>
					            </a>
					          </li>
		          		 		
						          <li class="sel nav-item">
										<label for="customRange2">Tiempo Incial</label>
										<input type="range" class="custom-range" min="0" max="1" step="0.01" id="dt">
						          </li>	
						          <li id="activar">
						          		<select class="form-control form-control-sm" id="sel">
						          			<option value="1">Establecer Cantidad de nodos</option>
						          			<option value="2" id="op1">Establecer Constantes</option>
						          			<option value="3" id="op2">Establecer Valores Iniciales</option>
						          		</select>					          								          	
						          </li>	
						          <div id="Enodos">
						          	<li class="divider"><hr></li>
						          	<li>
						          		<input id="cnodos" type="number" class="form-control" name="nodos">
						          	</li>
						          	<li class="divider"><hr></li>
						          	
						          	<li>	
						          		<button class="btn btn-primary" id="guardar_nodos">Establecer Nodos </button>
						          	</li>
						          	

						          </div>
						          <div id="Econstantes">
	 								  <li class="divider"><hr></li>				      						          					
						          </div>

						          <div id="Evalores">
	 								  <li class="divider"><hr></li>						          						      						          					
						          </div>
						          	<li>
						          		<li class="divider"><hr></li>
						          		<button class="btn btn-primary" id="guardar">Establecer Datos</button>
						          	</li>
				      	</ul>
				      </div>
				    </nav>
					<!--- Page Content --->
				    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4" >
				      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
					        <h1 class="h2" id="name" >Mapa</h1>
				      </div>
				      <div id="map" style="border: 1px solid black;"></div>

				      <!---	<img src="{{url_for('static', filename = 'img/malla.jpg')}}" class="img-fluid"> -->
				      
				    </main>
				</div>
			</div>
	</body>
<script type="text/javascript">


//Variables a utilizar

let posiciones = []; // arreglo que se utiliza para guardar las coordenadas para generar el polygono
let s_filas = []
let secciones = [] // Guarda los vertices de cada seccion para establecer el Cn

var ind = 0;
var ind_seccion = 0;
var coord_ant ;


var cNodos = 0;
var cont_nodos = 0;
var termino = false;


//---------------------------


//Funciones  jquery
$(document).ready(function() {
		$("#map").hide()
		
		
		var aValores   = new Array (5,5,5,5,5,5,5);
		var aConstantes = new Array (5,5,5,5,5,5,5);
		var flag = false;



		//Se ejecuta una vez 
		$("#Evalores").hide();
		$("#Econstantes").hide();
		$("#op1").hide();
		$("#op2").hide();
		$("#guardar").hide();



		$("#activar").click(function(){
			val = $("#sel").val()
			
			//Muestra input para establecer Nodos
			if(val == 1){
				$("#guardar").hide();
				$("#Enodos").show();
				$("#Evalores").hide();
				$("#Econstantes").hide();
			}
			//Muestra para establecer Constantes
			if(val == 2){
				flag = false;
				$("#Evalores").hide();
				$("#Econstantes").show();
				$("#guardar").show();
				$("#Enodos").hide();
			}
			//Muestra establecer Valores
			if(val == 3){
				flag = true;
				$("#Evalores").show();
				$("#Econstantes").hide();	
				$("#guardar").show();	
				$("#Enodos").hide();	
			}
			
		});

	$( "#Econstantes li" ).each(function( index ) {
		  	val = $(this).find('input').val()

		  	text = $(this).find("label").text()

		  	$(this).find("label").text(text +": "+val)
	});
	$( "#Evalores li" ).each(function( index ) {
		  	val = $(this).find('input').val()

		  	text = $(this).find("label").text()

		  	$(this).find("label").text(text +": "+val)
	});

	$("#sidebar").change(function(index){
		text = " "
		val  = " "
		cont = 0
		if(flag){
			$( "#Evalores li" ).each(function( index ) {
			  	val = $(this).find('input').val()
			  	aValores[cont] = val
			  	text = "C"+cont+": "+val
			  	$(this).find("label").text(text)
			  	cont = cont + 1 
			});			
		}else{
			$( "#Econstantes li" ).each(function( index ) {
			  	val = $(this).find('input').val()
			  	aConstantes[cont] = val
			  	text = "C"+cont+": "+val
			  	$(this).find("label").text(text)
			  	cont = cont + 1 
			  	//console.log(aConstantes)
			});					
		}

	
	});

	$("#guardar").click(function(){
			var mensaje;
		    var opcion = confirm("Desea confirmar los datos ?");
		    if (opcion == true) {
		        //Envia los datos a python
		        $.ajax({
					url: '/data',
					data: {'v':[aValores.join()],'c':[aConstantes.join()]},
					type: 'POST',
					success: function(response){
						
						var datax = JSON.parse(response)

						console.log(datax)
					},
					error: function(error){
						console.log(error);
					}
				});
			}
			console.log(mensaje)
	});

	$("#guardar_nodos").click(function(){
		val = $("#cnodos").val();
		if(val == "" ){
			alert("Ingresar Cantidad !!")
		}else{
			cNodos = val
			$("#op1").show();
			$("#op2").show();
			alert("Cantidad de nodos ingresadas correctamente , ahora puedes establecer los valores !! ")
			
			$("#map").show();
			html_constantes = $("#Econstantes").html();
			html_valores    = $("#Evalores").html();
			for (var i=0; i < cNodos ; i++) {
				string = "C"+(i+1)

				html2 = "<li class='sel nav-item'>"
				html2 = html2 + "<label for='customRange2'>"+string+"</label>"
				html2 = html2 + "<input type='range' class='c custom-range' min='0' max='1' step='0.1'></li>"							
				html_constantes = html_constantes + html2
				$("#Econstantes").html(html_constantes)								
							          		
				html3 = '<li class="sel nav-item">'
				html3 = html3+'<label for="customRange2">'+string+'</label>'
				html3 = html3+'<input type="range" class="c custom-range" min="0" max="10" step="0.1"></li>'
				html_valores = html_valores + html3			          	
				$("#Evalores").html(html_valores)
				
			}

		}
	});
});

//----------------------------
// Funcion para establecer distancia entre dos puntos

function distancia(a,b){

	x = Math.abs(b[0] - a[0])

	y = Math.abs(b[1] - a[1])


	x = Math.pow(2,x)
	y = Math.pow(2,y)

	d = Math.sqrt(x+y)

	return d
}



//---------------------------
//Genera el mapa a utilizar 

var map = L.map('map').setView([-38.7028912,-72.5500302],15);
 L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
maxZoom:18
}).addTo(map);

L.marker([-38.7028912,-72.5500302],{draggable: true}).addTo(map);

//--------------------------------------------------------------------------


//Funcion de cuando el mapa es precionado
map.on('click', function(e) {

	//Coordenadas del click 
    var coord = e.latlng;
    var add_coord = true;
    var existe = false;
    var lat = coord.lat;
    var long = coord.lng;
    
    //Si el contador de nodos es igual al establecido no se pueden dibujar mas 
    if(cont_nodos == cNodos){
    	termino = true
    }

    //Si aun se pueden crear mas Sectores 
    if(!termino){
	    var coord_cercano // guarda la coordenada mas cercana 
	

	    //Detecta si es un valor cercano 
	    for (var i=0; i < posiciones.length ; i++) {
	    	d = L.GeometryUtil.length([coord, posiciones[i]])

	    	//Si la distancia es menor a 100 establece que es un punto cercano y guarda esa posicion
	    	// para cerrar el triangulo
	    	if ( d <= 100 ){
	    		add_coord = false
	    		coord_cercano = posiciones[i]
	    	}
	    }

	    //Añade coordenadas para dibujar 
	    if(add_coord){
	    	posiciones.push([lat,long]);
	    	s_filas.push([lat,long])

	    	if(coord_ant == undefined){
	    		coord_ant = [lat,long]
	    	}

	   // 	console.log("----------------------------------------------")
	  //  	console.log("Posicion anterior : "+coord_ant)
	  //  	console.log("Posicion actual :" + [lat,long])
	  //  	console.log("----------------------------------------------------")


	  		//Si no es el primer dato anterior guardado , guarda en la d_Filas la distancia obtenida
	    	if(lat != coord_ant[0] && long != coord_ant[1] ){
	    		console.log("Distancia "+ distancia([lat,long] , coord_ant))

	    	}
	    	
	    }
	    else{

	 //   	console.log("----------------------------------------------")
	 //   	console.log("Posicion anterior : "+coord_ant)
	 //   	console.log("Posicion actual :" + [lat,long])
	 //   	console.log("----------------------------------------------------")

	    	//Parte cuando seccion es cerrada

	    	//Añade la coordenada existente para cerrar el triangulo
	    	posiciones.push(coord_cercano)
	    	cont_nodos= cont_nodos + 1 
	    	//Poner marcador en la mitad



	    	//ve si la posicion existe en el arreglo s_filas , si existe lo guarda para el  siguiente triangulo
	    	for(i=0; i < s_filas.length ; i++){
	    		if(s_filas[i][0] == coord_cercano[0] && s_filas[i][1] == coord_cercano[1]){
	    			existe = true
	    		}
	    	}

	    	if(existe)
	    	{

	    		

	    		secciones.push(s_filas)
	    		s_filas = []
	    		s_filas.push(coord_cercano)
	    		existe = false
	    		
	    	}else
	    	{
	    		s_filas.push(coord_cercano)
	    		if(s_filas.length == 2 )
	    		{
	    			s_filas.push(secciones[secciones.length-1][2])
	   			}

	    		secciones.push(s_filas)
	    		s_filas = []
	    	}


				    
	    	//Se crea una etiqueta en el centro de la seccion
	    	//obtiene punto medio de la primera pos con la segunda 
	    	delta_lat = (secciones[ind_seccion][0][0] + secciones[ind_seccion][1][0]) / 2
	    	delta_lon = (secciones[ind_seccion][0][1] + secciones[ind_seccion][1][1] )  /2
	    	//obtiene punto medio con el calculado anteriormente y el ultimo punto de coord existente
	    	
	    	len = secciones[ind_seccion].length - 1

	    	d2_lat = ( delta_lat + secciones[ind_seccion][len][0]) /2
	    	d2_lon = ( delta_lon + secciones[ind_seccion][len][1]) /2


			L.marker([d2_lat, d2_lon]).addTo(map)
			    .bindPopup('C'+(ind_seccion+1))
			    .openPopup();

	    	console.log(secciones_distancia)

	    	//Aumenta el indice en 1 
	    	ind_seccion = ind_seccion+1

	    }

	    //guarda el valor anterior 
	    coord_ant = [lat,long]



	    //Si el arreglo contiene datos , muestra la posicion con un circulo
	    if ( posiciones.length > 0){
	    	L.circle(posiciones[ind], {radius: 10}).addTo(map);
	    	ind = ind +1
	    }    
	    //Si el arreglo posee mas de dos datos muestra la linea
	    if(posiciones.length > 2 ){
	    	var polyline = L.polyline(posiciones, {color: 'red'}).addTo(map);
	    }

    }else{
    	alert("Todos los Sectores añadidos!!")

    	//Envia las posiciones de cada sector para establecer sus ecuaciones

		$.ajax({
		    type: 'POST',
		    contentType: 'application/json',
		    url: '/getEcuacion',
		    dataType : 'json',
		    data : JSON.stringify(secciones),
		    success : function(result) {
				var datax = result
				console.log(datax)		       
		    },error : function(result){
		       console.log(result);
		    }


		 });
    }


});

</script>





</html>