<!DOCTYPE html>
<html>
	<head>
		<title>Simulacion</title>
		<link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap.css')}}">
  		<script src="{{url_for('static', filename = 'js/popper.js')}}"></script>
  		<script src="{{url_for('static', filename = 'js/jquery.js')}}"></script>
  		<script src="{{url_for('static', filename = 'js/bootstrap.js')}}"></script>
  		<script src="{{url_for('static', filename = 'js/main.js')}}"></script>
  		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
	</head>
	<!--- Sidebar ---->
	<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #48FAC8 ;">
	<a class="navbar-brand">Aplicacion Flask</a>
		<div cclass="collapse navbar-collapse" id="navbarText">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="{{ url_for('index')}}">Inicio <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{{ url_for('datos')}}">Datos obtenidos</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{{ url_for('simulacion')}}">Simulador</a>
		      </li>
		    </ul>
		</div>
	</nav>
	<body>
			<!--- Sidebar --->
			<div class="container-fluid" > 
				<div class="row">
				    <nav  d="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
				      <div class="sidebar-sticky pt-3">
				        <ul class="nav flex-column" id="sidebar">
					          <li class="nav-item">
					            <a class="nav-link " style="background-color: #FA5D2F ;color: white">
					              <span data-feather="home"></span>
					             	Datos Simulacion <span class="sr-only">(current)</span>
					            </a>
					          </li>
		          		 		
						          <li class="sel nav-item">
										<label for="customRange2">Tiempo Incial</label>
										<input type="range" class="custom-range" min="0" max="1" step="0.01" id="dt">
						          </li>	
						          <li id="activar">
						          		<select class="form-control form-control-sm" id="sel">
						          			<option value="1">Establecer Constantes</option>
						          			<option value="2">Establecer Valores Iniciales</option>
						          		</select>					          								          	
						          </li>	
						          <div id="Econstantes">
	 								  <li class="divider"><hr></li>
										<li class="sel nav-item">
											<label for="customRange2">C1</label>
											<input type="range" class="c custom-range" min="0" max="1" step="0.1">
							          	</li>	
										<li class="sel nav-item">
											<label for="customRange2">C2</label>
											<input type="range" class="c custom-range" min="0" max="1" step="0.1">
							          	</li>	
										<li class="sel nav-item">
											<label for="customRange2">C3</label>
											<input type="range" class="c custom-range" min="0" max="1" step="0.1">
							          	</li>	
										<li class="sel nav-item">
											<label for="customRange2">C4</label>
											<input type="range" class="c custom-range" min="0" max="1" step="0.1">
							          	</li>	
										<li class="sel nav-item">
											<label for="customRange2">C5</label>
											<input type="range" class="c custom-range" min="0" max="1" step="0.1">
							          	</li>	
										<li class="sel nav-item">
											<label for="customRange2">C6</label>
											<input type="range" class="c custom-range" min="0" max="1" step="0.1">
							          	</li>	
										<li class="sel nav-item">
											<label for="customRange2">C7</label>
											<input type="range" class="c custom-range" min="0" max="1" step="0.1">
							          	</li>							          						      						          					
						          	</div>

						          <div id="Evalores">
	 								  <li class="divider"><hr></li>
										<li class="sel nav-item">
											<label for="customRange2">C1</label>
											<input type="range" class="c custom-range" min="0" max="10" step="0.1">
							          	</li>	
										<li class="sel nav-item">
											<label for="customRange2">C2</label>
											<input type="range" class="c custom-range" min="0" max="10" step="0.1">
							          	</li>	
										<li class="sel nav-item">
											<label for="customRange2">C3</label>
											<input type="range" class="c custom-range" min="0" max="10" step="0.1">
							          	</li>	
										<li class="sel nav-item">
											<label for="customRange2">C4</label>
											<input type="range" class="c custom-range" min="0" max="10" step="0.1">
							          	</li>	
										<li class="sel nav-item">
											<label for="customRange2">C5</label>
											<input type="range" class="c custom-range" min="0" max="10" step="0.1">
							          	</li>	
										<li class="sel nav-item">
											<label for="customRange2">C6</label>
											<input type="range" class="c custom-range" min="0" max="10" step="0.1">
							          	</li>	
										<li class="sel nav-item">
											<label for="customRange2">C7</label>
											<input type="range" class="c custom-range" min="0" max="10" step="0.1">
							          	</li>							          						      						          					
						          	</div>
						          	<li>
						          		<li class="divider"><hr></li>
						          		<button class="btn btn-primary" id="guardar">Establecer Datos</button>
						          	</li>
				      	</ul>
				      </div>
				    </nav>
					<!--- Page Content --->
				    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4" >
				      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
					        <h1 class="h2" id="name" >Grafico</h1>
				      </div>
				      <div>
				      	<img src="{{url_for('static', filename = 'img/malla.jpg')}}" class="img-fluid">
				      </div>
				    </main>
				</div>
			</div>
	</body>
<script type="text/javascript">
	
	$(document).ready(function() {

		
		var aValores   = new Array (5,5,5,5,5,5,5);
		var aConstantes = new Array (5,5,5,5,5,5,5);
		// flag -> false ; activado Establecer valores
		// flag -> true : activado Establecer  Constantes
		var flag = false;



		//Se ejecuta una vez 
		$("#Evalores").hide();



		$("#activar").click(function(){
			val = $("#sel").val()
			if(val == 1){
				flag = false;
				$("#Evalores").hide();
				$("#Econstantes").show();
			}else{
				flag = true;
				$("#Evalores").show();
				$("#Econstantes").hide();			
			}
			console.log(flag)
			
		});


	$( "#Econstantes li" ).each(function( index ) {
		  	val = $(this).find('input').val()

		  	text = $(this).find("label").text()

		  	$(this).find("label").text(text +": "+val)
	});
	$( "#Evalores li" ).each(function( index ) {
		  	val = $(this).find('input').val()

		  	text = $(this).find("label").text()

		  	$(this).find("label").text(text +": "+val)
	});

	$(".c").change(function(index){
		text = " "
		val  = " "
		cont = 0

		if(flag){

			$( "#Evalores li" ).each(function( index ) {
			  	val = $(this).find('input').val()
			  	aValores[cont] = val
			  	text = "C"+cont+": "+val
			  	$(this).find("label").text(text)
			  	cont = cont + 1 
			});			
		}else{
			$( "#Econstantes li" ).each(function( index ) {
			  	val = $(this).find('input').val()
			  	aConstantes[cont] = val
			  	text = "C"+cont+": "+val
			  	$(this).find("label").text(text)
			  	cont = cont + 1 
			  	//console.log(aConstantes)
			});					
		}

	
	});

	$("#guardar").click(function(){
			var mensaje;
		    var opcion = confirm("Desea confirmar los datos ?");
		    if (opcion == true) {
		        //Envia los datos a python

		        $.ajax({
					url: '/data',
					data: {'v':[aValores.join()],'c':[aConstantes.join()]},
					type: 'POST',
					success: function(response){
						
						var datax = JSON.parse(response)

						console.log(datax)
					},
					error: function(error){
						console.log(error);
					}
				});
			}
			console.log(mensaje)
	});
		
});




</script>


</html>